# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env
.env.*

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Bases de datos locales
*.sqlite3
*.db
